:root {
  --brow: #4f3214;
  --gray: #2a2a2a;
  --pink: #e8cbbb;
  --font: "Montserrat", sans-serif;
  --font2: "Fredoka One", cursive;
}
/*
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brow);
  border-radius: 10px;
}
*/


/* ----------- Estilos Globais ----------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font);
  outline: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.flex_center_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 1005%;
    padding: 0 15px;
  }
} 


/* ----------- Section Home ----------- */
.home {
  width: 100%;
  height: 100vh;
  position: relative;
}
.back {
  position: absolute;
  right: 0;
  z-index: -2;
  height: 90vh;
}

/* Header */
header {
  width: 100vw;
  height: 100px;
  justify-content: space-between !important;
}
.logo {
  margin: 0 80px;
}
.menu_list {
  padding-right: 100px;
}
.menu_list ul{
  color: black;
  font-size: 24px;

}
.menu_list li {
  padding: 0 30px;
}

/* Slide */
.slide {
  width: 100%;
  height: calc(100% - 100px);
}
.banner {
  justify-content: flex-start; 
  height: 100%;
}
.dots {
  flex-direction: column;
  margin: 0 100px;
}
.dots div {
  width: 10px;
  height: 10px;
  margin: 70px 0;
  background-color: lightgray;
  border-radius: 50%;
}
.dots div.ativo {
  background-color:var(--brow);
  height: 15px;
  width: 15px;
}
.text {
  display: flex;
  width: 30%;
  margin-right: 17%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.text h1 {
  font-size: 100px;
  margin-bottom: 50px;
  color: var(--brow);
  font-family: var(--font2);
}
.text p {
  font-size: 24px;
  color:gray;
}
.text button {
  color: var(--brow);
  cursor: pointer;
  padding: 15px 50px;
  margin-top: 50px;
  font-size: 25px;
  font-family: var(--font2);
  border: 5px solid var(--brow);
  border-radius: 10px;
  position: relative;
  background-color: transparent;
  transition: .5s ease;
}
.text button::after {
  content: '';
  position: absolute;
  transition: .5s ease;  transition: .5s ease;
  width: 0;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: var(--brow);
}
.text button:hover::after {
  width: 100%;
}
.text button:hover {
  color: white;
}
.banner img {
  height: 75%;
}