:root {
    --brow: #4f3214;
    --gray: #2a2a2a;
    --pink: #e8cbbb;
    --font1: font-family: 'Abril Fatface', cursive;
    --font2: font-family: 'Lobster', cursive;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
}

body,
html {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 200%;
    height: 100%;
    max-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#preloader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999;
}

.progress {
    width: 40vw;
    background-color: white;
    border: 1px solid var(--pink);
    height: 6px;
}

.progress-bar {
    background-color: var(--pink);
    height: 100%;
    animation: loading 1s linear;
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------Home Section------------------*/

.home-container{
    height: 100vh;
    width: 100%;
    background-color: var(--brow);
}

.header {
    background-color: gray;
    width: 100%;
    height: 70px;
}

.logo-container {
    background-color: #fff;
    width: 100px;
    height: 100%;

}

.menu-container {
    background-color: var(--brow);
    width: 300px;
    height: 100%;
    justify-content: space-around;
}

.menu {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    
}
